{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
  <!-- Stats -->
<section class="stats">
  <div class="stat-card">
    <p class="stat-label">Current Orders</p>
    <p class="stat-value">{{ orders | list | length }}</p>
  </div>

  <div class="stat-card">
    <p class="stat-label">Pending Orders</p>
    <p class="stat-value">
      {{ orders | selectattr("status", "ne", "completed") | list | length }}
    </p>
  </div>

  <div class="stat-card">
    <p class="stat-label">Completed Orders</p>
    <p class="stat-value">
      {{ orders | selectattr("status", "equalto", "completed") | list | length }}
    </p>
  </div>

  <div class="stat-card">
    <p class="stat-label">Approved Orders</p>
    <p class="stat-value">
      {{ orders | selectattr("status", "equalto", "approved") | list | length }}
    </p>
  </div>
</section>

<!-- Flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="flash-message">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}


<!-- Tabs -->
<div class="tabs">
  <a href="{{ url_for('main.dashboard', tab='orders') }}"
     class="tab {% if active_tab=='orders' %}active{% endif %}">All Orders</a>
  <a href="{{ url_for('main.dashboard', tab='create') }}"
     class="tab {% if active_tab=='create' %}active{% endif %}">Create Order</a>
</div>

{% if active_tab == 'orders' %}
<section class="category">
  <div class="orders-table">
    <div class="orders-header">
      <span>Customer</span>
      <span>Code</span>
      <span>Num People</span>
      <span>Status</span>
      <span>Date</span>
      <span>Time</span>
      <span>Actions</span>
    </div>

    {% for order in orders %}
    <div class="order-row">
      <span>{{ order.customer_name }}</span>
      <span>{{ order.code }}</span>
      <span>{{ order.num_people }}</span>
      <span>
        <form method="POST" action="{{ url_for('main.update_order_status', order_id=order.id) }}">
         <select name="status"
          class="status-dropdown {{ order.status }}"
          onchange="if(confirm('Confirm status change for {{ order.customer_name }}?')) this.form.submit(); else this.value='{{ order.status }}';">
            <option value="pending" {% if order.status=='pending' %}selected{% endif %}>Pending</option>
            <option value="completed" {% if order.status=='completed' %}selected{% endif %}>Completed</option>
            <option value="approved" {% if order.status=='approved' %}selected{% endif %}>Approved</option>
          </select>
        </form>
      </span>
      <span>{{ order.day }}</span>
      <span>{{ order.time }}</span>
      <span>
            <!-- Delete form -->
            <form method="POST" action="{{ url_for('main.delete_order', order_id=order.id) }}" onclick="return confirm('Delete this order?')">
              <button type="submit" class="btn-delete">Delete</button>
            </form>

            <!-- Edit form -->
            <form method="GET" action="{{ url_for('main.edit_order', order_id=order.id) }}">
              <button type="submit" class="btn-view">View</button>
            </form>
        </form>
      </span>
    </div>
    {% endfor %}
  </div>

   <a href="{{ url_for('main.trash') }}" class="btn-delete">
    Bin
  </a>
</section>

{% elif active_tab == 'create' %}
<section class="category">
  <form method="POST" class="form-card" novalidate>
  {{ form.hidden_tag() }}

  <div class="form-grid">

    <div class="form-group full">
      {{ form.name.label(class="form-label") }}
      {{ form.name(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.num_people.label(class="form-label") }}
      {{ form.num_people(class="form-control") }}
    </div>

    <div class="form-group">
      {{ form.date.label(class="form-label") }}
      {{ form.date(class="form-control", type="date") }}
    </div>

    <div class="form-group full">
      {{ form.time.label(class="form-label") }}
      {{ form.time(class="form-control") }}
    </div>

    {{ form.submit(class="button") }}
  </div>
</form>
</section>
{% endif %}


{% endblock %}

