{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<!-- Flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div class="flash-message">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

<section class="category">
  <div class="orders-table">
    <div class="orders-header">
      <span>Customer</span>
      <span>Code</span>
      <span>Num People</span>
      <span>Date</span>
      <span>Time</span>
      <span>Date deleted</span>
      <span>Actions</span>
    </div>

    {% for order in orders %}
    <div class="order-row">
      <span>{{ order.customer_name }}</span>
      <span>{{ order.code }}</span>
      <span>{{ order.num_people }}</span>
      <span>{{ order.day }}</span>
      <span>{{ order.time }}</span>
      <span>{{ order.deleted_at }}</span>

        <form action="{{ url_for('main.restore_order', id=order.id) }}" method="POST" style="display:inline;">
          <button type="submit" class="btn-view">
            Restore
          </button>
        </form>
    </div>
    {% endfor %}
  </div>
</section>

<a href="{{ url_for('main.dashboard', tab='orders') }}" class="submit"><- Go back to Dashboard</a>

{% endblock%}
